<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thirstysheep.requestpermission" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        >
        <activity
            android:name=".PermissionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/CustomTheme_Dialog"/>
        <!--android:screenOrientation="portrait"-->

    </application>

</manifest>
